<section id="service" class="py-3">
    <div class="s_head wow animate__zoomIn"><h3 class="centerh">Choose Your Category</h3><h4 class="centerh">Your choice, we'll design & stitch, just for you</h4></div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><a [routerLink]="['blouse']"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/blouse.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></a></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/dress.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/jacket.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/jump_suit.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/kurti.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/lehenga.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/RTWS.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/salwar.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/shirt.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/skirt.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/top.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
            <div class="col-6 col-sm-4 col-lg-3 py-1 py-sm-2 py-lg-3"><div class="cards wow animate__zoomIn"><img src="/assets/service_img/trouser.png" alt="services" width="100%" height="100%" style="border-radius: 5px;"></div></div>
        </div>
    </div>
</section>
