<section id="aboutus1">
    <div class="container py-4">
        <div class="mhead centerh wow fadeIn"><h1>Welcome to Queen Fix Boutique - Where Style Meets Precision</h1></div>
        <div class="about_shop wow fadeIn">
            <p>At Queen Fix Women's Boutique, we believe that fashion is an expression of individuality, and we are 
                here to tailor that expression to perfection. With a rich history rooted in craftsmanship 
                and a commitment to delivering impeccable quality, we have become a trusted name in the world 
                of bespoke tailoring.</p>
        </div>
        <div class="story row justify-content-evenly">
            <div class="col-10 py-2 py-sm-0 col-sm-5 wow slideInLeft">
                <div class="photo" style="background-image: url('/assets/aboutus_img/formal.png'); border-radius: 10px;"></div>
            </div>
            <div class="col-11 col-sm-7 col-md-5 align-self-center wow slideInRight">
                <h1>Our Story</h1>
                <p>Established 2017, Queen Fix Women's Boutique has been a labor of love, bringing together a 
                    team of skilled artisans who are passionate about the art of tailoring. Our journey began with 
                    a simple vision - to redefine the way people experience custom clothing. Over the years, we have 
                    evolved, but our dedication to precision and personalized service remains unwavering.</p>
            </div>
            
        </div>
    </div>
</section>
<section id="aboutus2">
    <div class="container py-4">
        <div class="whyqf">
            <div><h1 class="centerh wow animate__flipInX">Why Queen Fix?</h1></div>
            <div><p class="wow animate__flipInX">Our experienced team of skilled tailors ensures that each garment is crafted with 
                    precision, reflecting the highest standards of expertise. At Queen Fix, we believe in 
                    creating garments that go beyond measurements - they are personalized expressions of your 
                    style, exuding sophistication. We collaborate closely with our clients, paying attention 
                    to every detail to ensure your clothing is a perfect fit and a true reflection of your unique 
                    taste. Meticulous detailing is our hallmark. From the initial consultation to the final 
                    fitting, every aspect of your garment is given the utmost attention. Embracing diversity 
                    in fashion, we offer a wide range of styles to cater to various tastes - from classic to 
                    contemporary, ensuring there's something for everyone.</p>
                <p class="wow animate__flipInX">Our commitment to fair pricing and transparent communication ensures you can trust us 
                    for a straightforward and enjoyable tailoring experience. Queen Fix is dedicated to 
                    sustainable practices. We source materials responsibly, minimizing our environmental impact 
                    for a greener fashion choice. Experience the Queen Fix difference firsthand by visiting 
                    our atelier at [Address]. Witness the art of tailoring and embark on a journey to curate a 
                    wardrobe that truly defines you. Integrity is our core value. When you choose Queen Fix, 
                    you're choosing ethical business practices and a commitment to your satisfaction. Join us 
                    in contributing to a more sustainable and socially responsible fashion industry. Your choice 
                    matters, and at Queen Fix, we're making a positive impact.</p>
            </div>
        </div>
    </div>
</section>