<section id="skirt" >
    <div class="banner wow fadeIn" style="background-image: url('/assets/skirt_img/banner.png');"></div>
    <div class="A_line row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>A-Line Skirt</h2>
            <p>An A-line skirt is a style of skirt that is fitted at the waist and then gradually widens towards the hem, forming a triangular or "A" shape when viewed from the front or back. The silhouette of an A-line skirt resembles the letter "A", hence the name.</p></div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight" ><div class="photo"><img loading="lazy" src="/assets/skirt_img/A-line.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="asymmetric row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/skirt_img/asymmetric.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Asymmetric Skirt</h2>
            <p>An asymmetric skirt is a style of skirt that features an uneven hemline, with one side typically longer or shorter than the other. This asymmetrical design can create a visually striking and modern silhouette, adding interest and flair to an outfit.</p>
        </div>
    </div>
    <div class="bell row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Bell skirt</h2>
            <p>A bell-shaped skirt, sometimes also referred to as a bell skirt, is a style of skirt that flares out gradually from the waist or hips, resembling the shape of a bell. This silhouette is characterized by its fitted waist and hips, with the flare starting typically at or just below the natural waistline.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/skirt_img/bell.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="bubble row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/skirt_img/bubble.png" alt="bubble skirt" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Bubble Skirt</h2>
            <p>A bubble skirt is a style of skirt characterized by its voluminous and rounded silhouette, which resembles a bubble. This skirt typically features a fitted waistband that cinches the waist and a gathered or pleated fabric that creates fullness and volume around the hips and thighs, often tapering in at the hemline.</p>
        </div>  
    </div>
    <div class="box_pleat row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Box Pleat Skirt</h2>
            <p>A box pleat skirt is a style of skirt characterized by its pleats that fold back and forth to create a "box" shape. These pleats are typically positioned at regular intervals around the waistband of the skirt, and they can be sewn down partially or entirely to maintain their shape.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/skirt_img/box_pleat.png" alt="box_pleat skirt" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="maxi row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/skirt_img/maxi.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Maxi Skirt</h2>
            <p>A maxi skirt is a long skirt that typically extends to the ankles or floor, offering full coverage for the legs. Maxi skirts come in various styles, fabrics, and designs, making them versatile pieces suitable for a range of occasions and personal styles.</p>
        </div>
    </div>
    <div class="midi row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Midi Skirt</h2>
            <p>A midi skirt is a style of skirt that typically falls somewhere between the knee and ankle, offering a length that is longer than a knee-length skirt but shorter than a maxi skirt. The term "midi" refers to the middle length, and midi skirts are favored for their versatility and flattering silhouette.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/skirt_img/midi.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="mini row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/skirt_img/mini.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Mini Skirt</h2>
            <p>A mini skirt is a style of skirt that typically falls above the knee, offering a shorter length that showcases the legs. Mini skirts are known for their youthful and playful aesthetic and are a popular choice for warmer weather or for occasions where a more casual or flirty look is desired.</p>
        </div>  
    </div>
    <!-- <div class="b_gallery">
        <div class=" container gallery wow fadeInUp">
            <div class="title centerh">
                <p class="head">Blouse</p>
            </div>
            <div class="owl_slides px-3">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (94).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (96).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (97).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (98).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (99).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
                </owl-carousel-o>
              </div>
        </div>
    </div> -->
</section>
