<section id="gallery">
    <div class=" container gallery wow fadeInUp">
        <div class="title centerh">
            <p class="head">Blouse</p>
        </div>
        <div class="owl_slides px-3">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide ><div class="gcard"><img src="https://www.shaadidukaan.com/editor-img/image/dresses/blouse-image/blouse-design1.jpg" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://www.shaadidukaan.com/editor-img/image/dresses/blouse-image/blouse-design2.jpg" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://www.shaadidukaan.com/editor-img/image/dresses/blouse-image/blouse-design3.jpg" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://www.shaadidukaan.com/editor-img/image/dresses/blouse-image/blouse-design7.jpg" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://www.shaadidukaan.com/editor-img/image/dresses/blouse-image/blouse-design12.jpg" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
            </owl-carousel-o>
          </div>
    </div>
    <div class="container gallery wow fadeInUp">
        <div class="title centerh">
            <p class="head">Churidar</p>
        </div>
        <div class="owl_slides px-3" >
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide ><div class="gcard"><img src="https://wallpapercave.com/dwp2x/wp8032038.jpg" alt="Churidar" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://wallpapercave.com/dwp2x/wp8032138.jpg" alt="Churidar" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Eh_UpSGFJhIdpkeyq8u9GBsJgmkDlzfKLg&usqp=CAU" alt="Churidar" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2zXu17hojtNvzkXh4u9GSy1Sg0dIEASVD6A&usqp=CAU" alt="Churidar" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
              <ng-template carouselSlide ><div class="gcard"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjB6qF440QQyl9rcllcGc3gevspVumMMLCbQ&usqp=CAU" alt="Churidar" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
            </owl-carousel-o>
          </div>
    </div>
</section>