<section id="blouse" >
    <div class="banner wow fadeIn" style="background-image: url('/assets/blouse_img/banner.png');"></div>
    <div class="princess row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Princess Cut Blouse</h2>
            <p>A princess-cut blouse has a curved line of stitching that runs from the centre of the sleeve to the bottom. Since it has a curvature, the blouse fits much better than any other type of blouse. Get your princess-cut blouse tailor-made to your size now.</p></div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight" ><div class="photo"><img loading="lazy" src="/assets/blouse_img/prience_cut.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="sleeveless row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/blouse_img/sleeveless.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Sleeveless Blouse</h2>
            <p>A sleeveless blouse is a type of blouse that does not have sleeves and typically covers the upper body and arms. It can be worn for various occasions, such as casual outings, or occasions. Get your blouse tailor-made to your size now.</p>
        </div>
    </div>
    <div class="drated row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Darted Blouse</h2>
            <p>A darted blouse is skillfully designed with tailored darts that provide shaping and structure. These darts enhance the fit and contour of the blouse, ensuring a flattering and customised look. Elevate your style with a tailor-made dart blouse perfectly crafted to your measurements for an impeccable fit and distinctive appearance.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/blouse_img/drated.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="embroidery row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/blouse_img/embroidery.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Embroidery Blouse</h2>
            <p>An embroidery blouse is a blouse with embroidery, which is the stitching of designs onto fabric with a needle and thread. Embroidery, which can be done by hand or machine, can be used to create a variety of designs such as floral patterns, geometric shapes, and text. Get your embroidery blouse tailor-made to your size now.</p>
        </div>  
    </div>
    <div class="pattern row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Pattern Blouse</h2>
            <p>A pattern blouse design refers to a blouse that has a specific pattern or design. The aspect of pattern blouse design would depend on the designer and your personal aesthetic but could include things like the type of pattern used, pattern placement on the blouse, and pattern colours. Get your pattern blouse tailor-made to your size now.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/blouse_img/pattern.png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="b_gallery">
        <div class=" container gallery wow fadeInUp">
            <div class="title centerh">
                <p class="head">Blouse</p>
            </div>
            <div class="owl_slides px-3">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (94).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (96).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (97).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (98).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (99).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
                </owl-carousel-o>
              </div>
        </div>
    </div>
</section>
