<!-- testimonial -->

<section id="testimonial">
    <div class="container">
        <div class="head pb-lg-4"><p class="centerh" style="width: 100%;">Written with loveby our community</p><div class="symbol centerh d-sm-none"><i class="fa-solid fa-quote-left"></i></div></div>
        <div class="owl_slides" style="position: relative;">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide >
                    <div class="row justify-content-evenly">
                        <div class="col-5 align-self-center d-none d-sm-inline wow fadeInLeft"><div class="photo"><img src="/assets/testimonial_img/person1.png" alt="photo" width="100%" height="100%" style="border-radius: 10px;"></div></div>
                        <div class="col-12 col-sm-6 feed align-self-center wow fadeInRight">
                            <div class="centerh"><h1 class="symbol d-none d-sm-inline"><i class="fa-solid fa-quote-left"></i></h1></div>
                            <div class="centerh">
                                <p>The entire staff is super friendly and cooperative. The delivery is on time, and the end product is absolutely beautiful. The end result matched my exact description, and the CloudTailor team was helpful throughout the process. I did not feel uncomfortable even once. I will come back to get more dresses stitched from them, and I've already recommended them to all my friends!</p>
                            </div>
                            <div class="centerh"><h4>- Swara Rao</h4></div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide >
                    <div class="row justify-content-evenly">
                        <div class="col-5 align-self-center d-none d-sm-inline wow fadeInLeft"><div class="photo"><img src="/assets/testimonial_img/person2.png" alt="photo" width="100%" height="100%" style="border-radius: 10px;"></div></div>
                        <div class="col-12 col-sm-6 feed align-self-center wow fadeInRight">
                            <div class="centerh"><h1 class=" symbol d-none d-sm-inline"><i class="fa-solid fa-quote-left"></i></h1></div>
                            <div class="centerh">
                                <p>Going to a tailor is a nightmare for me because I'm a working professional and a mother of a toddler. That's when I was introduced to CloudTailor! And I was thrilled with the service because who would have thought of tailoring services online? I got a blouse and a ready-to-wear saree stitched from CloudTailor, and oh I love it. Makes it so easier to wear a saree and looks so stylish.</p>
                            </div>
                            <div class="centerh"><h4>- Amira</h4></div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
