<section id="top" >
    <div class="banner wow fadeIn" style="background-image: url('/assets/top_img/banner.png');"></div>
    <div class="cinchced_waist row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Cinchced Waist Top</h2>
            <p>A cinched waist top typically refers to a garment, often a blouse or a shirt, that features a gathered or elasticized waistline. This design detail creates a cinched or gathered effect at the waist, helping to define and accentuate the wearer's waistline. Cinched waist tops can come in various styles, including blouses, tunics, or even t-shirts, and they are popular for their flattering silhouette and feminine appeal. </p></div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight" ><div class="photo"><img loading="lazy" src="/assets/top_img/cinched_waist.png" alt="Cinchced Waist" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="crop row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/top_img/crop.png" alt="Crop Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Crop Top</h2>
            <p>A crop top is a type of shirt or blouse that is characterized by its shorter length, typically ending above the waist or just below the ribcage, exposing some or all of the wearer's midriff. Crop tops come in various styles, including sleeveless, short-sleeved, long-sleeved, and even turtleneck variations.</p>
        </div>
    </div>
    <div class="cross_over row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Cross Over Top</h2>
            <p>A crossover top, also known as a wrap top or a cross-front top, is a style of blouse or shirt characterized by its diagonal or horizontal crossover design at the front. The fabric of the top wraps around the body and typically ties or fastens at the side or back, creating a flattering V-neckline or a draped effect across the chest.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/top_img/cross_over.png" alt="Cross Over Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="kaftan row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/top_img/kaftan.png" alt="Kaftan Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Kaftan Top</h2>
            <p>
                A kaftan top is a loose-fitting garment that originated in ancient Mesopotamia and has been worn in various cultures throughout history. It is characterized by its flowy, oversized silhouette and typically features wide sleeves and a wide neckline. Kaftan tops can vary in length, ranging from hip-length to floor-length.</p>
        </div>  
    </div>
    <div class="maxi row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Maxi Top</h2>
            <p>A maxi top is a long-length garment that typically extends below the hips or even down to the ankles, similar to the length of a maxi dress. Maxi tops come in various styles and silhouettes, ranging from fitted to loose and flowy. They can feature different necklines, sleeve lengths, and design details, such as slits, ruffles, or asymmetrical hems.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/top_img/maxi.png" alt="Maxi Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="off_shoulder row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/top_img/off_shoulder.png" alt="Off Shoulder Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Off Shoulder Top</h2>
            <p>An off-shoulder top is a style of blouse or shirt that features a neckline that rests below the shoulders, leaving the shoulders and upper part of the arms exposed. This style typically has sleeves that are designed to sit off the shoulders, though some variations may have straps or additional support to keep the top in place.</p>
        </div>
    </div>
    <div class="one_shoulder row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>One Shoulder Top</h2>
            <p>A one-shoulder top is a style of blouse or shirt that features a neckline designed to expose only one shoulder while leaving the other shoulder covered. One-shoulder tops come in various styles and silhouettes, including fitted, flowy, cropped, or structured designs.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight"><div class="photo"><img loading="lazy" src="/assets/top_img/one_shoulder.png" alt="One Shoulder Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="shirt_style row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft"><div class="photo"><img loading="lazy" src="/assets/top_img/shirt_style.png" alt="Shirt Style Top" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Shirt Style Top</h2>
            <p>A shirt-style top is a garment that is designed similarly to a traditional button-up shirt but is typically made with lighter or more flexible fabrics and often incorporates design elements from blouses or tops. These tops typically feature a collar, a button-down front, and sleeves, but they may vary in length, sleeve style, and detailing.</p>
        </div>  
    </div>
    <!-- <div class="b_gallery">
        <div class=" container gallery wow fadeInUp">
            <div class="title centerh">
                <p class="head">Blouse</p>
            </div>
            <div class="owl_slides px-3">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (94).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (96).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (97).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (98).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (99).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
                </owl-carousel-o>
              </div>
        </div>
    </div> -->
</section>
