<section id="home" >
    <div class="container-fluid">
        <div class="head row m-0">
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p1 wow bounceIn"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tKXrRPDIgW8GeNUliF2bg3sNK-ndlXlKIlbQnPwu__3zTBsnyZ6ARQOwm8TEzmEm-qE&usqp=CAU" alt="" [routerLink]="['service']"></div><p [routerLink]="['service']">Churidar</p></div>
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p2 wow bounceIn" data-wow-delay="200ms"><img src="/assets/home_img/party.png" alt="party" [routerLink]="['service']"></div><p [routerLink]="['service']">Party</p></div>
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p3 wow bounceIn" data-wow-delay="400ms"><img src="/assets/home_img/formal.png" alt="" [routerLink]="['service']"></div><p [routerLink]="['service']">Formal</p></div>
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p4 wow bounceIn" data-wow-delay="600ms"><img src="/assets/home_img/casual.png" alt="" [routerLink]="['service']"></div><p [routerLink]="['service']">Casual</p></div>
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p5 wow bounceIn" data-wow-delay="800ms"><img src="/assets/home_img/occasion.png" alt="" [routerLink]="['service']"></div><p [routerLink]="['service']">Occasion</p></div>
            <div class="col-4 col-sm-2 centerh photo_container"><div class="photo p6 wow bounceIn" data-wow-delay="1000ms"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwpBNbWubHsWFzIZZ3Nf_c_dQm8oekaM9qNw&usqp=CAU" alt="blouse" [routerLink]="['service/blouse']"></div><p [routerLink]="['service/blouse']">Blouse</p></div>
        </div>
        <div class="banner wow fadeIn">
            <div class="b_title"><h1>#FashionMadeEasy</h1>
                <h3>Your Style, Your Size,<br> at Your Fingertips</h3>
                <div class="btn"><a [routerLink]="['service']">Start Now</a></div>
            </div>
        </div>
        <div loading="lazy" class="bottom container wow bounceInUp" data-wow-duration="1.5s">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 centert p-2">
                    <i class=" icons fa-regular fa-face-smile"></i><p>700+<br><span>Happy Customers</span></p>
                </div>
                <div class="col-6 col-md-4 col-lg-3 centert p-2">
                    <i class=" icons fa-solid fa-medal"></i><p>Standardised<br><span>Quality Process</span></p>
                </div>
                <div class="col-6 col-md-4 col-lg-3 centert p-2">
                    <i class=" icons fa-solid fa-box"></i><p> On Time Delivery<br><span>For all orders*</span></p>
                </div>
                <div class="col-6 d-md-none d-lg-inline col-lg-3 centert p-2">
                    <i class=" icons fa-solid fa-truck-fast"></i><p>Shipping<br><span>Across Globe</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home2" style="background-color: white;" class="py-4">
    <div class="aboutus container centerh">
        <div class="row justify-content-center">
            <div class=" col-11 col-sm-6 align-self-center wow slideInLeft" data-wow-duration="1.5s">
                <h2>Who we are ?</h2>
                <p style="text-align: justify;">We believe that fashion is an expression of 
                    individuality, and we are here to tailor that expression to perfection. With a rich 
                    history rooted in craftsmanship and a commitment to delivering impeccable quality, 
                    we have become a trusted name in the world...</p>
                <div class="centerh"><a [routerLink]="['aboutus']"><div class="btn readm">Read More</div></a></div>
            </div>
            <div class="col-5 d-none d-sm-inline wow slideInRight" data-wow-duration="1.5s">
                <div class="photo" style="background-image: url('/assets/home_img/casual.png');"></div>
            </div>
        </div>
    </div>
</section>
