<section id="lehenga" >
    <div class="banner wow fadeIn" style="background-image: url('/assets/lehenga_img/banner.png');"></div>
    <div class="A_line row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>A-Line Lehenga</h2>
            <p>A-line lehenga is a popular style of lehenga, which is a traditional Indian skirt worn by women, especially during weddings, festivals, and other special occasions. The A-line lehenga gets its name from its silhouette, which resembles the letter "A" when spread out.</p></div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight px-5" ><div class="photo"><img loading="lazy" src="/assets/lehenga_img/A_line.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="half_saree row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft px-5"><div class="photo"><img loading="lazy" src="/assets/lehenga_img/half_saree.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Half Saree Lehenga</h2>
            <p>A half saree lehenga, also known as a half saree or lehenga saree, is a modern fusion outfit that combines elements of both a traditional saree and a lehenga choli. It is a popular choice among women, especially for weddings, receptions, and other festive occasions.</p>
        </div>
    </div>
    <div class="mesh row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Mesh Lehenga</h2>
            <p>A mesh lehenga is a type of lehenga choli, which is a traditional Indian outfit typically worn for weddings, festivals, and other special occasions. The term "mesh" refers to the material used in the construction of the lehenga, which is typically a sheer or translucent fabric with an open weave.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight px-5"><div class="photo"><img loading="lazy" src="/assets/lehenga_img/mesh.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="multi_layers row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft px-5"><div class="photo"><img loading="lazy" src="/assets/lehenga_img/multi-layers.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Multi Layers Lehenga</h2>
            <p>A multi-layered lehenga is a variation of the traditional Indian lehenga choli that incorporates multiple layers of fabric in the skirt portion. This style adds volume, richness, and a sense of grandeur to the outfit, making it a popular choice for weddings, receptions, and other formal occasions.</p>
        </div>  
    </div>
    <div class="sharara_cut row">
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInLeft">
            <h2>Sharara Cut Lehenga</h2>
            <p>A Sharara cut lehenga is a fusion style of Indian ethnic wear that combines elements of a traditional lehenga choli with the silhouette of a Sharara. Sharara is a traditional outfit consisting of loose, flared pants that are typically worn with a short kurti (tunic) and a dupatta (scarf). A Sharara cut lehenga maintains the flared silhouette of the Sharara pants while incorporating the style of a lehenga choli.</p>
        </div>
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInRight px-5"><div class="photo"><img loading="lazy" src="/assets/lehenga_img/sharara_cut.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
    </div>
    <div class="short row">
        <div class="col-8 col-sm-5 col-lg-4 align-self-center wow fadeInLeft px-5"><div class="photo"><img loading="lazy" src="/assets/lehenga_img/short.png" alt="lehenga" width="100%" height="100%" style="border-radius: 10px;"></div></div>
        <div class="col-10 col-sm-5 col-lg-4 align-self-center wow fadeInRight">
            <h2>Short Lehenga</h2>
            <p>Short lehengas are a contemporary variation of the traditional Indian lehenga choli, characterized by a shorter length of the lehenga skirt. These skirts typically fall above the ankle or knee, offering a modern and chic alternative to the classic floor-length lehenga.</p>
        </div>  
    </div>
    <!-- <div class="b_gallery">
        <div class=" container gallery wow fadeInUp">
            <div class="title centerh">
                <p class="head">Blouse</p>
            </div>
            <div class="owl_slides px-3">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (94).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (96).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (97).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (98).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>  
                  <ng-template carouselSlide ><div class="gcard"><img loading="lazy" src="/assets/blouse_img/gallery/Screenshot (99).png" alt="blouse" width="100%" height="100%" style="border-radius: 10px;"></div></ng-template>
                </owl-carousel-o>
              </div>
        </div>
    </div> -->
</section>
